  .table {
  	margin-left: 5px;
  	margin-right: 5px;
  	margin-top: 2px;
  	margin-bottom: 2px;
  	border: 1px solid #cad9ea;
  	color: #666;
  }
  
  .table th {
  	background-repeat: repeat-x;
  	height: 30px;
  	font-size: 12px;
  }
  
  .table td,
  .table th {
  	border: 1px solid #cad9ea;
  	padding: 0 1em 0;
  }
  
  .table th {
  	background: #D1EEEE;
  }
  
  .table td {
  	font-size: 12px;
  	background: #FFFFFF;
  	text-align: center;
  }
  
  .table tr.alter {
  	background-color: #f5fafe;
  }