<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>latercheck-person</title>

		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
		<script src="../../js/mui.min.js"></script>

		<script src="../../js/serverutils.js"></script>
		<script src="../../js/ajaxutils.js"></script>
	</head>

	<body> 
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="fgtitle">迟到人员</h1>
		</header>

		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view" id="mem_ul">
				</ul>
			</div>
		</div>

		<script>
			mui.init({});

			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var deptid = self.p_id;
				var data = {
					'deptid': deptid
				}

				var ul = document.getElementById("mem_ul");
				postData(SERVER_HOST_FORMAL + MODULE_LATER_CHECK_PERSON, data,
					function(ret) {
						var list = JSON.parse(ret);

						for(var i = 0; i < list.length; i++) {
							var li = document.createElement("li");
							li.setAttribute("id", list[i].pid);
							li.setAttribute("class", "mui-table-view-cell mui-media");

							var ga = document.createElement("a");

							var gimag = document.createElement("p");
							gimag.setAttribute("class", "mui-media-object mui-pull-left");
							gimag.innerHTML = i + 1;

							var gdiv = document.createElement("div");
							gdiv.setAttribute("class", "mui-media-body");
							gdiv.innerHTML = list[i].name;

							var gp = document.createElement("p");
							gp.setAttribute("class", "mui-ellipsis");
							
							gp.innerHTML =list[i].time+'  于  '+list[i].loc+'  签到';

							gdiv.appendChild(gp);
							ga.appendChild(gimag);
							ga.appendChild(gdiv)
							li.appendChild(ga);
							ul.appendChild(li);
						}

					},
					null
				);

			});
		</script>

	</body>

</html>